.page-heading{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.media-header{
    display: flex;
}
.cool-c-pic{
    padding-left: 20px;

}

.cool-c-writing{
   
    font-size: 40px;
}

.perspective-video{
    align-items: center;
    background-color: whitesmoke;
    margin: 40px;
    width: 70%;
    justify-content: center;
    border-radius: 15px;
    
    
    
}