.videos-heading{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.tutorials-page-heading{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.rileybot-video{
    display: flex;
    justify-content: center;
    font-size: 40px;
     border-radius: 15px;
}


.rileybot-video-btn{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    background-color: whitesmoke  ;
}

.row-1-container{
    display: flex;

}

.row-2-container{
    display: flex;
    

}

.tutorial-videos-container{
    background-color: whitesmoke;
    width: 85%;
    margin: 0 auto;
    border-radius: 15px;
    padding-bottom: 20px;
   

}

.video-10-mp4-ogg{
    margin: 0 auto;
    border-radius: 10px;
}

.video-14-mp4-ogg{
    margin: 0 auto;
    border-radius: 10px;
}

.video-13-mp4-ogg{
    margin: 0 auto;
    border-radius: 10px;
}

.video-11-mp4-ogg{
    margin: 0 auto;
    border-radius: 10px;
}

.video-5-mp4-ogg-p1{
    margin: 0 auto;
    border-radius: 10px;
}

.video-5-mp4-ogg-p2{
    margin: 0 auto;
    border-radius: 10px;
}