.updates-page-heading{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    font-size: 25px;
}

.whats-new{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.whats-new-paragraph{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10% auto;
    font-size: 20px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    
}


.updates-page-image{
    border-radius: 20px;
    display: flex;
}

.updates-heading-container{
    display: flex;
    justify-content: space-around;
}
.older-updates button{
    background-color: whitesmoke;
    padding: 20px 30px;
    border-radius: 10px;
}
.older-updates button a{
    font-size: 20px;
    text-decoration: none;
}
