*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}
.website-name{
    color: cornflowerblue;
    font-size: 60px;
    padding-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    align-items: center;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu ul li{
    padding-left: 50px;
    list-style-type: none;
    padding-top: 40px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
    
    
    
    
    
}
.menu ul li a{
    text-decoration: none;
}
.logo-container{
    display: flex;
    align-items:center ;
}

.about-me{
    color: cornflowerblue;
    padding-top: 100px;


}

.answering-your-rileybot-questions{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 28px;
   padding-left: 19.8px;
   color: cornflowerblue;

}

.riley-bot-image{
    padding-top: 60px;
    display: flex;



}


.about-me-image{
    align-items: center;
    padding-left: 150px;
}

