*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}
.website-name{
    color: cornflowerblue;
    font-size: 60px;
    padding-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    align-items: center;
}
.top-logo-section{
    display: flex;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu ul li{
    padding-left: 50px;
    list-style-type: none;
    padding-top: 40px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
  
}
.menu ul li a{
    text-decoration: none;
}




.about-me-heading{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* change font size that fits the web page */
    /* Add margin bottom to give some space between heading and paragraph */
}

.answering-your-rileybot-questions{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 28px;
   padding-left: 19.8px;
   color: cornflowerblue;

}




.about-me-container{

    width: 80%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    /* update background color as per your design */
    background-color: rgb(157, 240, 240);
    border-radius: 20px;
    padding: 5% 0;
}

.about-me-left{
    width: 50%;
    margin: 0 auto;
}
.about-me-left p{
    line-height: 30px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile-image{
    margin: 0 auto;
}

.riley-bot-image{
    padding-top: 60px;
    display: flex;
}